[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-dotenv = "*"
scrapy = "*"
scrapy-redis = "*"

[dev-packages]
betamax = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "pipenv run black . --target-version py37"
scrape = "pipenv run python manage.py -s characters -o"
test = "pipenv run pytest --verbose"

[pipenv]
allow_prereleases = true
