[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
python-dotenv = "*"
scrapy-redis = "*"

[dev-packages]
black = "*"
pytest = "*"
betamax = "*"

[requires]
python_version = "3.6"
