[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
"psycopg2" = "*"
flask-restplus = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pytest = "*"
mimesis = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
