[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
mimesis = "*"

[requires]
python_version = "3.6"
